#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<head
    data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-unwrap>

  <title>${symbol_dollar}{currentPage.title}</title>

  <meta charset="UTF-8"/>

  <link rel="shortcut icon" href="/etc/clientlibs/${projectName}/${projectName}.app/resources/img/favicon.ico" />

  <meta
      data-sly-call="${symbol_dollar}{clientLib.css @ categories=['${projectName}.all']}"
      data-sly-unwrap
  ></meta>

</head>
