#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div data-sly-use.carousel="${package}.components.Carousel"
    id="${symbol_dollar}{carousel.id}" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-sly-repeat.image="${symbol_dollar}{carousel.slideImages}"
        data-target="#${symbol_dollar}{carousel.id}" data-slide-to="${symbol_dollar}{imageList.index}" class="${symbol_dollar}{imageList.first ? 'active' : ''}"></li>
  </ol>
  <div class="carousel-inner">
    <div data-sly-repeat.image="${symbol_dollar}{carousel.slideImages}"
        class="carousel-item ${symbol_dollar}{imageList.first ? 'active' : ''}">
#if ($optionWcmioHandler == 'n')
      <img class="d-block w-100" src="${symbol_dollar}{image.src}" alt="${symbol_dollar}{image.alt}">
#else
      ${symbol_dollar}{image.markup @ context='html'}
#end
    </div>
  </div>
  <a class="carousel-control-prev" href="#${symbol_dollar}{carousel.id}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#${symbol_dollar}{carousel.id}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${symbol_dollar}{templates.placeholder @ isEmpty=carousel.slideImages.empty}"></sly>
