# Project-specific AEM configuration

# Inherit default AEM functionality from "AEM Definitions", see http://devops.wcm.io/conga/definitions/aem/
inherits:
- role: aem-cms

variants:
- variant: aem-author
- variant: aem-publish

templateDir: ${projectName}-aem-cms

files:

#if ( $optionWcmioConga == "y" )
#if ( $optionAemVersion == '6.5' && $optionAemServicePack == 'y' )
# AEM Service Pack
- url: mvn:adobe.binary.aem.65.servicepack/aem-service-pkg/6.5.22.0/zip
  dir: packages
  modelOptions:
    delayAfterInstallSec: 30
#end

#if ( $optionAemVersion != "cloud" )
# AEM Core WCM components
- url: mvn:com.adobe.cq/core.wcm.components.all//zip
  dir: packages

#end
#if( $optionAcsCommons == "y" )
# ACS AEM Commons
- url: mvn:com.adobe.acs/acs-aem-commons-all//zip
  dir: packages

#end
#end
# AEM OSGi System Configuration
- file: ${projectName}-aem-cms-config.osgiconfig.json
  dir: packages
  template: ${projectName}-aem-cms-config.osgiconfig.json.hbs
  validators:
  - none  # allow trailing commas in JSON picked up by post processor
  postProcessors:
  - aem-contentpackage-osgiconfig
  postProcessorOptions:
    contentPackage:
      name: ${projectName}-aem-cms-config
      rootPath: /apps/${projectName}/config
      filters:
      - filter: /apps/${projectName}
        rules:
        - rule: include
          pattern: /apps/${projectName}/config(\..*)?(/.*)?
        - rule: exclude
          pattern: /apps/${projectName}/config/rewriter(/.*)?

#if ( $optionWcmioHandler == "y" )
# Include URL handler in Sling Rewriter configuration
- file: ${projectName}-aem-cms-rewriter-config.json
  dir: packages
  template: ${projectName}-aem-cms-rewriter-config.json.hbs
  validatorOptions:
    contentPackage.validatorsSettings:
      jackrabbit-filter:
        options:
          validRoots: /apps/${projectName}/config
  postProcessors:
  - aem-contentpackage
  postProcessorOptions:
    contentPackage:
      name: ${projectName}-aem-cms-rewriter-config
      packageType: application
      rootPath: /apps/${projectName}/config/rewriter

#end
#if ( $optionWcmioConga == "y" )
#if ( $optionAemVersion == "cloud" && ($optionContextAwareConfig == "y" || $optionWcmioHandler == "y") )
# wcm.io
#if ( $optionContextAwareConfig == "y" )
- url: mvn:io.wcm/io.wcm.caconfig.extensions
  dir: bundles
- url: mvn:io.wcm/io.wcm.caconfig.editor
  dir: bundles
- url: mvn:io.wcm/io.wcm.sling.commons
  dir: bundles
#end
#if ( $optionWcmioHandler == "y" )
- url: mvn:io.wcm/io.wcm.sling.models
  dir: bundles
- url: mvn:io.wcm/io.wcm.wcm.commons
  dir: bundles
#if ( $optionEditableTemplates != "y" )
- url: mvn:io.wcm/io.wcm.wcm.parsys
  dir: bundles
#end
- url: mvn:io.wcm/io.wcm.wcm.ui.granite
  dir: bundles
- url: mvn:io.wcm/io.wcm.wcm.ui.clientlibs
  dir: bundles
- url: mvn:io.wcm/io.wcm.handler.commons
  dir: bundles
- url: mvn:io.wcm/io.wcm.handler.url
  dir: bundles
- url: mvn:io.wcm/io.wcm.handler.media
  dir: bundles
- url: mvn:io.wcm/io.wcm.handler.link
  dir: bundles
- url: mvn:io.wcm/io.wcm.handler.richtext
  dir: bundles
- url: mvn:io.wcm/io.wcm.wcm.core.components
  dir: bundles
#end

#end
# Application #if($optionAemVersion=='cloud')bundles and #{end}packages
#if ( $optionAemVersion == "cloud" )
- url: mvn:${groupId}/${rootArtifactId}.core
  dir: bundles
#if ( $optionMultiBundleLayout == "y" )
- url: mvn:${groupId}/${rootArtifactId}.clientlibs
  dir: bundles
#end
#else
- url: mvn:${groupId}/${rootArtifactId}.complete//zip
  dir: packages
#end
#if( $optionSlingInitialContentBundle == "n" )
- url: mvn:${groupId}/${rootArtifactId}.ui.apps//zip
  dir: packages
#end

#if ( $optionEditableTemplates == "y" )
# Application conf content package
- url: mvn:${groupId}/${rootArtifactId}.conf-content//zip
  dir: packages
  condition: ${app.confContent}

#end
# Application sample content package
- url: mvn:${groupId}/${rootArtifactId}.sample-content//zip
  dir: packages
  condition: ${app.sampleContent}

#end

# Defines configuration parameters and default values
config:
  contentPackage:
    group: ${packageGroupName}
    #[[version: ${version}]]#

#if ( $optionAemVersion == "cloud" )
  aem:
    # Disable user tracking in author environment
    disableAuthorUsageStatisticsCollection: false

#end
  app:
#if ( $optionContextAwareConfig == "y" || $optionEditableTemplates == "y" )
    confContent: true
#end
    sampleContent: false

  # Log levels
  log:
    projectSpecificLogLevel: warn
