# Project-specific AEM configuration

# Inherit default AEM functionality from "AEM Definitions", see http://devops.wcm.io/conga/definitions/aem/
inherits:
- role: aem-cms

variants:
- variant: aem-author
- variant: aem-publish

templateDir: ${projectName}-aem-cms

files:

#if ( $optionAemVersion == '6.5' && $optionAemServicePack == 'y' )
# AEM Service Pack
- url: mvn:adobe.binary.aem.65.servicepack/aem-service-pkg/6.5.11/zip
  dir: packages
  modelOptions:
    delayAfterInstallSec: 30
#end

#if ( $optionAemVersion != "cloud" )
# AEM Core WCM components
- url: mvn:com.adobe.cq/core.wcm.components.all//zip
  dir: packages

#end
#if( $optionAcsCommons == "y" )
# ACS AEM Commons
- url: mvn:com.adobe.acs/acs-aem-commons-ui.apps//zip/min
  dir: packages
  postProcessorOptions:
    contentPackage.packageType: application
- url: mvn:com.adobe.acs/acs-aem-commons-ui.content//zip/min
  dir: packages
  postProcessorOptions:
    contentPackage.packageType: content

#end
# AEM OSGi System Configuration
- file: ${projectName}-aem-cms-config.provisioning
  dir: packages
  template: ${projectName}-aem-cms-config.provisioning.hbs
  postProcessors:
  - aem-contentpackage-osgiconfig
  postProcessorOptions:
    contentPackage:
      name: ${projectName}-aem-cms-config
      rootPath: /apps/${projectName}/config
      filters:
      - filter: /apps/${projectName}
        rules:
        - rule: include
          pattern: /apps/${projectName}/config(\..*)?(/.*)?
        - rule: exclude
          pattern: /apps/${projectName}/config/rewriter(/.*)?

#if ( $optionWcmioHandler == "y" )
# Include URL handler in Sling Rewriter configuration
- file: ${projectName}-aem-cms-rewriter-config.json
  dir: packages
  template: ${projectName}-aem-cms-rewriter-config.json.hbs
  validatorOptions:
    contentPackage.validatorsSettings:
      jackrabbit-filter:
        options:
          validRoots: /apps/${projectName}/config
  postProcessors:
  - aem-contentpackage
  postProcessorOptions:
    contentPackage:
      name: ${projectName}-aem-cms-rewriter-config
      packageType: application
      rootPath: /apps/${projectName}/config/rewriter

#end
#if ( $optionAemVersion == "cloud" && ($optionContextAwareConfig == "y" || $optionWcmioHandler == "y") )
# wcm.io
#if ( $optionContextAwareConfig == "y" )
- url: mvn:io.wcm/io.wcm.caconfig.editor//zip/content
  dir: packages
#end
#if ( $optionWcmioHandler == "y" )
- url: mvn:io.wcm/io.wcm.handler.url//zip/content
  dir: packages
- url: mvn:io.wcm/io.wcm.handler.link//zip/content
  dir: packages
- url: mvn:io.wcm/io.wcm.handler.media//zip/content
  dir: packages
- url: mvn:io.wcm/io.wcm.handler.richtext//zip/content
  dir: packages
- url: mvn:io.wcm/io.wcm.wcm.commons//zip/content
  dir: packages
- url: mvn:io.wcm/io.wcm.wcm.core.components//zip/content
  dir: packages
- url: mvn:io.wcm/io.wcm.wcm.parsys//zip/content
  dir: packages
- url: mvn:io.wcm/io.wcm.wcm.ui.granite//zip/content
  dir: packages
- url: mvn:io.wcm/io.wcm.wcm.ui.clientlibs//zip/content
  dir: packages
#end

#end
# Application package
- url: mvn:${groupId}/${rootArtifactId}.complete//zip
  dir: packages
#if ( $optionSlingInitialContentBundle == "y" && $optionSlingInitialContentBundleContentPackage == "y" && $optionAemVersion == "cloud" )
- url: mvn:${groupId}/${rootArtifactId}.core//zip/content
  dir: packages
#if ( $optionMultiBundleLayout == "y" )
- url: mvn:${groupId}/${rootArtifactId}.clientlibs//zip/content
  dir: packages
#end
#end
#if( $optionSlingInitialContentBundle == "n" )
- url: mvn:${groupId}/${rootArtifactId}.ui.apps//zip
  dir: packages
#end

#if ( $optionEditableTemplates == "y" )
# Application conf content package
- url: mvn:${groupId}/${rootArtifactId}.conf-content//zip
  dir: packages
  condition: ${app.confContent}

#end
# Application sample content package
- url: mvn:${groupId}/${rootArtifactId}.sample-content//zip
  dir: packages
  condition: ${app.sampleContent}


# Defines configuration parameters and default values
config:
  contentPackage:
    group: ${packageGroupName}
    #[[version: ${version}]]#

  app:
#if ( $optionContextAwareConfig == "y" || $optionEditableTemplates == "y" )
    confContent: true
#end
    sampleContent: false

  # Log levels
  log:
    projectSpecificLogLevel: warn
