#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
#if ( $optionWcmioSiteApiGenericEdit == "y" )
<sly data-sly-include="/apps/wcm-io/site-api/generic-edit/components/component/component.html"/>
#else
<div data-sly-use.carousel="${package}.components.CustomCarousel"
    id="${symbol_dollar}{carousel.id}" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button data-sly-repeat.image="${symbol_dollar}{carousel.slideImages}" type="button"
        data-bs-target="#${symbol_dollar}{carousel.id}" data-bs-slide-to="${symbol_dollar}{imageList.index}" class="${symbol_dollar}{imageList.first ? 'active' : ''}"></button>
  </div>
  <div class="carousel-inner">
    <div data-sly-repeat.image="${symbol_dollar}{carousel.slideImages}"
        class="carousel-item ${symbol_dollar}{imageList.first ? 'active' : ''}">
#if ($optionWcmioHandler == 'n')
      <img class="d-block w-100" src="${symbol_dollar}{image.src}" alt="${symbol_dollar}{image.alt}">
#else
      ${symbol_dollar}{image.markup @ context='html'}
#end
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#${symbol_dollar}{carousel.id}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#${symbol_dollar}{carousel.id}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${symbol_dollar}{templates.placeholder @ isEmpty=carousel.slideImages.empty}"></sly>
#end