#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div class="container">

#if ($optionEditableTemplates == "y")
  <sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
       data-sly-repeat.child="${symbol_dollar}{templatedContainer.structureResources}"
       data-sly-resource="${symbol_dollar}{child.path @ resourceType=child.resourceType, decorationTagName='div'}"></sly>
#else
  <sly data-sly-include="content.html" />

  <hr />

  <sly data-sly-resource="${symbol_dollar}{@ resourceType='${projectName}/core/components/templating/imprint'}"/>
#end

</div>
